<% title t("devise.registrations.edit.title") %>

<div class="modal fade" id="cancel-account-confirm" tabindex="-1"
     role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header py-1">
        <h5 class="modal-title" id="deleteModalTitle">
          <%= t('devise.registrations.edit.cancel_my_account') %>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <%= image_tag image_path("open-iconic/x.svg") %>
        </button>
      </div>
      <div class="modal-body">
        <%= t('devise.registrations.edit.cancel_my_account_confirm') %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
          <%= t("observatorio.confirm.cancel") %>
        </button>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :delete }) do %>
          <%= submit_tag t("observatorio.dialog.ok"), class: "btn btn-danger btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-devise" }) do |f| %>
  <div class="form-group">
    <% email_error = resource.errors[:email] && resource.errors[:email].first %>
    <%= email_field_tag "user[email]", resource.email,
          class: "form-control #{"is-invalid" if email_error}", autofocus: true, required: true,
          placeholder: resource.class.human_attribute_name(:email) %>
    <% if email_error %>
      <div class="invalid-feedback">
        <%= email_error %>
      </div>
    <% end %>
  </div>
  <div class="form-group">
    <% password_error = resource.errors[:password] && resource.errors[:password].first %>
    <%= password_field_tag "user[password]", nil,
          class: "form-control #{"is-invalid" if password_error}", autocomplete: "off",
          placeholder: "#{resource.class.human_attribute_name(:new_password)} (#{t("devise.registrations.edit.leave_blank_if_you_don_t_want_to_change_it")})" %>
    <% if password_error %>
      <div class="invalid-feedback">
        <%= password_error %>
      </div>
    <% end %>
  </div>
  <div class="form-group">
    <% password_confirmation_error = resource.errors[:password_confirmation] && resource.errors[:password_confirmation].first %>
    <%= password_field_tag "user[password_confirmation]", nil,
          class: "form-control #{"is-invalid" if password_confirmation_error}", autocomplete: "off",
          placeholder: resource.class.human_attribute_name(:new_password_confirmation) %>
    <% if password_confirmation_error %>
      <div class="invalid-feedback">
        <%= password_confirmation_error %>
      </div>
    <% end %>
  </div>
  <div class="form-group">
    <% current_password_error = resource.errors[:current_password] && resource.errors[:current_password].first %>
    <%= password_field_tag "user[current_password]", nil,
          class: "form-control #{"is-invalid" if current_password_error}",
          autocomplete: "off", required: true,
          placeholder: "#{resource.class.human_attribute_name(:current_password)} (#{t("observatorio.mandatory")})" %>
    <% if current_password_error %>
      <div class="invalid-feedback">
        <%= current_password_error %>
      </div>
    <% end %>
  </div>
  <div class="control-group">
    <%= f.submit t('devise.registrations.edit.update'), class: "btn btn-lg btn-primary btn-block" %>
  </div>
  <div class="control-group mt-4">
    <%= link_to t('devise.registrations.edit.cancel_my_account'), "#cancel-account-confirm",
                class: "btn btn-danger btn-block", :"data-toggle" => "modal" %>
  </div>
<% end %>
