<% title t("devise.registrations.new.sign_up") %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-devise" }) do |f| %>
  <div class="form-group">
    <% email_error = resource.errors[:email] && resource.errors[:email].first %>
    <%= email_field_tag "user[email]", resource.email,
          class: "form-control #{"is-invalid" if email_error }", autofocus: true, required: true,
          placeholder: resource.class.human_attribute_name(:email)  %>
    <% if email_error %>
      <div class="invalid-feedback">
        <%= email_error %>
      </div>
    <% end %>
  </div>
  <div class="form-group">
    <% password_error = resource.errors[:password] && resource.errors[:password].first %>
    <%= password_field_tag "user[password]", resource.password,
          class: "form-control #{"is-invalid" if password_error}", autocomplete: "off", required: true,
          placeholder: resource.class.human_attribute_name(:password)%>
    <% if password_error %>
      <div class="invalid-feedback">
        <%= password_error %>
      </div>
    <% end %>
  </div>
  <div class="form-group">
    <% password_confirmation_error = resource.errors[:password_confirmation] && resource.errors[:password_confirmation].first %>
    <%= password_field_tag "user[password_confirmation]",
          resource.password_confirmation,
          class: "form-control #{"is-invalid" if password_confirmation_error}",
          autocomplete: "off", required: true,
          placeholder: resource.class.human_attribute_name(:password_confirmation)%>
    <% if password_confirmation_error %>
      <div class="invalid-feedback">
        <%= password_confirmation_error %>
      </div>
    <% end %>
  </div>
  <div class="control-group">
    <%= f.submit t("devise.registrations.new.sign_up"), class: "btn btn-lg btn-primary btn-block" %>
  </div>
  <%= render "devise/shared/links" %>
<% end %>
