<div class="modal-body">
  <%= t("observatorio.models.organization_position.updated").html_safe %>
</div>
<div class="modal-footer">
  <%= link_to t("observatorio.dialog.ok"), organization_position_path(@resource),
        class: "btn btn-primary btn-sm"%>
</div>
