<% item = version.item_state %>
<% item_klass = version.item_klass %>
<div class="media item">
  <div class="media-body mt-0 mb-2">
    <div class="d-inline-block main">
      <strong class="mb-md-0">
        <%= display_time(version.created_at) %>
      </strong>
      &middot;
      <%= display_user(version.user) %>
    </div>
    <span class="ml-2 d-block">
      <%= t("paper_trail.person.#{version.event}").html_safe %>
      <a class="btn btn-info small btn-sm py-0 px-1 ml-1"
         data-toggle="collapse"
         href="#details<%= version.id %>"
         role="button"
         aria-expanded="false"
         aria-controls="details">
         <%= t("paper_trail.details") %>
      </a>
    </span>
    <div class="collapse small" id="details<%= version.id %>">
      <ul class="mt-1 mb-0 pl-4" style="list-style-type: none">
        <% if version.converted_changeset.key?("name") %>
          <li>
            <strong><%= Person.human_attribute_name(:name) %>:</strong>
            <%= Differ.diff_by_word(
                  *version.converted_changeset["name"].reverse
                ).format_as(:html).html_safe %>
          </li>
        <% end %>
        <% if version.converted_changeset.key?("first_name") %>
          <li>
            <strong><%= Person.human_attribute_name(:first_name) %>:</strong>
            <%= Differ.diff_by_word(
                  *version.converted_changeset["first_name"].reverse
                ).format_as(:html).html_safe %>
          </li>
        <% end %>
        <% if version.converted_changeset.key?("last_name") %>
          <li>
            <strong><%= Person.human_attribute_name(:last_name) %>:</strong>
            <%= Differ.diff_by_word(
                  *version.converted_changeset["last_name"].reverse
                ).format_as(:html).html_safe %>
          </li>
        <% end %>
        <% if version.converted_changeset.key?("date_of_birth") %>
          <li>
            <strong><%= Person.human_attribute_name(:date_of_birth) %>:</strong>
            <%= Differ.diff_by_line(
                  *version.converted_changeset["date_of_birth"].reverse.map { |d| display_time(d) }
                ).format_as(:html).html_safe %>
          </li>
        <% end %>
        <% if version.converted_changeset.key?("date_of_death") %>
          <li>
            <strong><%= Person.human_attribute_name(:date_of_death) %>:</strong>
            <%= Differ.diff_by_line(
                  *version.converted_changeset["date_of_death"].reverse.map { |d| display_time(d) }
                ).format_as(:html).html_safe %>
          </li>
        <% end %>
        <% if version.converted_changeset.key?("approximate_dates") %>
          <li>
            <strong><%= Person.human_attribute_name(:approximate_dates) %>:</strong>
            <%= Differ.diff_by_line(
                  *version.converted_changeset["approximate_dates"].reverse.map { |b| display_boolean(b) }
                ).format_as(:html).html_safe %>
          </li>
        <% end %>
        <% if version.converted_changeset.key?("birth_location_id") %>
          <li>
            <strong><%= Person.human_attribute_name(:birth_location) %>:</strong>
            <%= Differ.diff_by_line(
                  *version.converted_changeset["birth_location_id"].reverse.map { |l| display_name(l) }
                ).format_as(:html).html_safe %>
          </li>
        <% end %>
        <% if version.converted_changeset.key?("death_location_id") %>
          <li>
            <strong><%= Person.human_attribute_name(:death_location) %>:</strong>
            <%= Differ.diff_by_line(
                  *version.converted_changeset["death_location_id"].reverse.map { |l| display_name(l) }
                ).format_as(:html).html_safe %>
          </li>
        <% end %>
        <% if version.converted_changeset.key?("nationalities") %>
          <li>
            <strong><%= Person.human_attribute_name(:nationalities) %>:</strong>
            <%= Differ.diff(
                  *version.converted_changeset["nationalities"].reverse.map { |array|
                    array && array.sort_by { |alpha2| Country[alpha2].translation(I18n.locale) }
                                  .map { |alpha2| Country[alpha2].emoji_flag }
                                  .join(" ")
                  }, " "
                ).format_as(:html).html_safe %>
          </li>
        <% end %>
        <% if version.converted_changeset.key?("biography") %>
          <li>
            <strong><%= Person.human_attribute_name(:biography) %>:</strong>
            <%= Differ.diff_by_word(
                  *version.converted_changeset["biography"].reverse
                ).format_as(:html).html_safe %>
          </li>
        <% end %>
        <% if version.converted_changeset.key?("picture") %>
          <li>
            <strong><%= Person.human_attribute_name(:picture) %>:</strong>
            <%= Person.human_attribute_name(:picture_updated) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
