<div class="refreshable" data-refresh="<%= request.original_fullpath %>"">
  <div class="text-center loading" style="display: none">
    <div class="spinner-border" role="status">
      <span class="sr-only"><%= t("observatorio.loading") %></span>
    </div>
  </div>
  <div class="content">
    <%= @resource.biography.gsub(/\n/, '<br/>').html_safe if @resource.biography %>
  </div>
</div>
