<% item = version.item_state %>
<% item_klass = version.item_klass %>
<% event = version.event %>
<div class="media item">
  <div class="media-body mt-0 mb-2">
    <div class="d-inline-block main">
      <strong class="mb-md-0">
        <%= display_time(version.created_at) %>
      </strong>
      &middot;
      <%= display_user(version.user) %>
    </div>
    <span class="ml-2 d-block">
      <% if event == "update" %>
        <%= t("paper_trail.name.update").html_safe %>
        <a class="btn btn-info small btn-sm py-0 px-1 ml-1"
           data-toggle="collapse"
           href="#details<%= version.id %>"
           role="button"
           aria-expanded="false"
           aria-controls="details">
           <%= t("paper_trail.details") %>
        </a>
      <% else %>
        <%= t("paper_trail.name.#{event}", name: tag.strong(item.value)).html_safe %>
      <% end %>
    </span>
    <% if event == "update" %>
      <div class="collapse small" id="details<%= version.id %>">
        <ul class="mt-1 mb-0 pl-4" style="list-style-type: none">
          <% if version.converted_changeset.key?("value") %>
            <li>
              <%= Differ.diff_by_word(
                    *version.converted_changeset["value"].reverse
                  ).format_as(:html).html_safe %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
