<%= form_for @resource do |f| %>
  <%= f.hidden_field :nameable_id %>
  <%= f.hidden_field :nameable_type %>
  <div class="modal-body">
    <div class="form-group row">
      <% value_error = @resource.errors[:value]&.first  %>
      <%= label_tag "name[value]", @resource.class.human_attribute_name(:value), class: "col-3" %>
      <%= text_field_tag "name[value]", @resource.value,
            :"data-autofocus" => true, required: true, autocomplete: "off",
            class: "form-control form-control-sm col-8 #{"is-invalid" if value_error }" %>
      <% if value_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= value_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="modal-footer">
    <%= submit_tag t("observatorio.save"), class: "btn btn-primary btn-sm" %>
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
      <%= t("observatorio.cancel") %>
    </button>
  </div>
<% end %>
