<div class="modal-body">
  <%= t("observatorio.models.name.updated").html_safe %>
</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-primary btn-sm"
          data-dismiss="modal">
    <%= t("observatorio.dialog.ok") %>
  </button>
</div>

<%= hidden_field_tag :refresh_element, "#history-subsection" %>
<%= hidden_field_tag :refresh_element, ".names-container" %>
