<% title UserGroup.model_name.human(count: 2) %>

<div id="index-user-groups" class="index user-groups">
  <div class="p-3 p-md-3 my-3 bg-white border-gray border rounded">
    <% @resources.each do |user_group| %>
      <div class="search-result my-1">
        <strong>
          <%= link_to display_name(user_group), url_for(user_group) %>
        </strong>
      </div>
    <% end %>
  </div>
