<% with = version.item_state.with %>
<% event = version.event %>
<div class="media item">
  <div class="media-body mb-0 mt-0 mb-2">
    <div class="d-inline-block main">
      <strong class="mb-md-0">
        <%= display_time(version.created_at) %>
      </strong>
      &middot;
      <%= display_user(version.user) %>
    </div>
    <span class="ml-2 d-block">
      <%= t("paper_trail.relationship.#{event}",
            with: tag.strong(display_resource(with))).html_safe %>
      <% if event != "destroy" %>
        <a class="btn btn-info small btn-sm py-0 px-1 ml-1"
           data-toggle="collapse"
           href="#details<%= version.id %>"
           role="button"
           aria-expanded="false"
           aria-controls="details">
          <%= t("paper_trail.details") %>
        </a>
      <% end %>
    </span>
    <% if event != "destroy" %>
      <div class="collapse small" id="details<%= version.id %>">
        <ul class="mt-1 mb-0 pl-4" style="list-style-type: none">
          <% if version.converted_changeset.key?("degree") %>
            <li>
              <strong><%= Relationship.human_attribute_name(:degree) %>:</strong>
              <%= Differ.diff_by_line(
                    *version.converted_changeset["degree"].reverse.map { |d| d && Relationship.human_attribute_name(:"degree_#{d}") }
                  ).format_as(:html).html_safe %>
            </li>
          <% end %>
          <% if version.converted_changeset.key?("from_date") %>
            <li>
              <strong><%= Relationship.human_attribute_name(:from_date) %>:</strong>
              <%= Differ.diff_by_line(
                    *version.converted_changeset["from_date"].reverse.map { |d| display_time(d) }
                  ).format_as(:html).html_safe %>
            </li>
          <% end %>
          <% if version.converted_changeset.key?("to_date") %>
            <li>
              <strong><%= Relationship.human_attribute_name(:to_date) %>:</strong>
              <%= Differ.diff_by_line(
                    *version.converted_changeset["to_date"].reverse.map { |d| display_time(d) }
                  ).format_as(:html).html_safe %>
            </li>
          <% end %>
          <% if version.converted_changeset.key?("approximate_dates") %>
            <li>
              <strong><%= Relationship.human_attribute_name(:approximate_dates) %>:</strong>
              <%= Differ.diff_by_line(
                    *version.converted_changeset["approximate_dates"].reverse.map { |b| display_boolean(b) }
                  ).format_as(:html).html_safe %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
