<%= form_for @resource, html: { :"data-init" => "initRelationshipForm" } do |f| %>
  <%= f.hidden_field :owner_id %>
  <div class="modal-body">
    <div class="form-group row">
      <% with_id_error = @resource.errors[:with_id]&.first  %>
      <%= label_tag "relationship[with_id]",
            @resource.class.human_attribute_name(:with), class: "col-3" %>
      <%= select_tag "relationship[with_id]",
            options_for_select([nil] + with_options, @resource.with_id),
            class: "col-8 form-control form-control-sm #{"is-invalid" if with_id_error}",
            required: true, disabled: @resource.persisted? %>
      <% if with_id_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= with_id_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group degree-group row">
      <% degree_error = @resource.errors[:degree]&.first %>
      <%= label_tag "relationship[degree]",
            @resource.class.human_attribute_name(:degree), class: "col-3" %>
      <select name="relationship[degree]"
              id="person_relationships_attributes_0_degree"
              class="col-8 form-control form-control-sm <%= "is-invalid" if degree_error %>"
              required>
        <option value="" data-eternal></option>
        <% relationship_degrees.each do |degree| %>
          <option value="<%= degree %>"
                  <%= "data-eternal" if degree_eternal?(degree) %>
                  <%= "selected" if @resource.degree == degree %>>
            <%= @resource.class.human_attribute_name(:"degree_#{degree}") %>
          </option>
        <% end %>
      </select>
      <% if degree_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= degree_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group date-boundaries-group row">
      <% from_date_error = @resource.errors[:from_date]&.first %>
      <%= label_tag "relationship[from_date]",
            @resource.class.human_attribute_name(:from_date), class: "col-3" %>
      <%= date_field_tag "relationship[from_date]", @resource.from_date,
            class: "form-control form-control-sm col-8 #{"is-invalid" if from_date_error}" %>
      <% if from_date_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= from_date_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group date-boundaries-group row">
      <% to_date_error = @resource.errors[:to_date]&.first %>
      <%= label_tag "relationship[to_date]",
            @resource.class.human_attribute_name(:to_date), class: "col-3" %>
      <%= date_field_tag "relationship[to_date]", @resource.to_date,
            class: "form-control form-control-sm col-8 #{"is-invalid" if to_date_error}" %>
      <% if to_date_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= to_date_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <fieldset class="form-group date-boundaries-group">
      <div class="row">
        <%= label_tag "relationship[approximate_dates]",
              @resource.class.human_attribute_name(:approximate_dates), class: "col-3" %>
        <div class="form-control-sm form-control-check col-8">
          <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   name='relationship[approximate_dates]'
                   required
                   id="approximateDatesYes"
                   value="1"
                   <%= "checked" if @resource.approximate_dates %>>
            <label class="form-check-label" for="approximateDatesYes">
              <%= t("observatorio.true") %>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   name='relationship[approximate_dates]'
                   required
                   id="approximateDatesNo"
                   value="0"
                   <%= "checked" unless @resource.approximate_dates %>>
            <label class="form-check-label" for="approximateDatesNo">
              <%= t("observatorio.false") %>
            </label>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <%= submit_tag t("observatorio.save"), class: "btn btn-primary btn-sm" %>
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
      <%= t("observatorio.cancel") %>
    </button>
  </div>
<% end %>
