<% title display_name(@resource) %>

<div id="attachment-<%= @resource.id %>" class="show attachments">
  <%=
    render partial: "modal_form", locals: {
      url: edit_attachment_path(@resource),
      modal_id: "edit-attachment-#{@resource.id}",
      modal_title: @resource.class.human_attribute_name(:edit)
    }
  %>
  <%=
    render partial: "confirm_delete", locals: {
      record: @resource,
      confirm_message: @resource.class.human_attribute_name(
        :destroy_confirm, record: tag.strong(display_name(@resource))
      ).html_safe,
      url: attachment_path(@resource, origin: origin_params),
      modal_id: "destroy-attachment-#{@resource.id}",
      modal_title: @resource.class.human_attribute_name(:destroy)
    }
  %>
  <!-- Back attachment -->
  <div class="pt-2 pl-1">
    <strong>
      <a href="<%= url_for(origin_params) %>" class="btn-back">
        <%= arrow_left(class: "svg svg-primary d-inline mr-1") %><%= t("observatorio.back") %>
      </a>
    </strong>
  </div>
  <!-- General information -->
  <div class="mt-2 mb-3 bg-white text-left border-gray border rounded general-infos">
    <div class="p-3 bg-light border-bottom d-inline-block subsection">
      <span class="float-left mr-2">
        <h4 class="m-0"><%= Attachment.model_name.human %></h4>
      </span>
      <div class="text-right d-none d-md-block">
        <% if can? :update, @resource %>
          <a href='#edit-attachment-<%= @resource.id %>'
             class='action has-tooltip mx-2 pt-1' data-toggle="modal"
             data-placement="top" title="<%= @resource.class.human_attribute_name(:edit) %>">
            <%= pencil class: "svg svg-primary", width: "24px", height: "24px" %>
          </a>
        <% end %>
        <% if can? :delete, @resource %>
          <a href='#destroy-attachment-<%= @resource.id %>'
             class='action has-tooltip mx-2 pt-1' data-toggle="modal"
             data-placement="top" title="<%= @resource.class.human_attribute_name(:destroy) %>">
            <%= x class: "svg svg-danger", width: "24px", height: "24px" %>
          </a>
        <% end %>
      </div>
    </div>
    <div class="p-3">
      <div class="pl-4 pt-2 loading loading-attachment position-absolute" style="display: none">
        <div class="spinner-border" role="status">
          <span class="sr-only"><%= t("observatorio.loading") %></span>
        </div>
      </div>
      <div class="attachment-content" data-url="<%= attachment_path(@resource) %>">
        <div>
          <strong><%= Attachment.human_attribute_name(:label) %>:</strong>
          <span class="attachment-label"><%= @resource.label %></span>
        </div>
        <div>
          <strong><%= Attachment.human_attribute_name(:created_at) %>:</strong>
          <span><%= display_time(@resource.created_at) %></span>
        </div>
        <div class="mt-2 attachment-description">
          <%= @resource.description.gsub(/\n/, '<br/>').html_safe if @resource.description %>
        </div>
      </div>
    </div>
  </div>
  <!-- Content -->
  <div class="p-3 my-3 bg-white border-gray border rounded ">
    <div class="mb-2">
      <strong>
        <a href="<%= download_attachment_path(@resource) %>"
           class="btn btn-sm btn-primary" >
          <%= download(class: "svg svg-white d-inline mr-2") %><%= @resource.class.human_attribute_name(:download) %>
        </a>
      </strong>
    </div>
    <div class="small pl-1">
      <strong><%= @resource.class.human_attribute_name(:file_extension) %>:</strong>
      <span><%= @resource.file_extension %></span>
    </div>
    <div class="small pl-1">
      <strong><%= @resource.class.human_attribute_name(:file_size) %>:</strong>
      <span><%= number_to_human_size(@resource.file_size) %></span>
    </div>
    <div class="small pl-1">
      <strong><%= @resource.class.human_attribute_name(:file_md5_hex) %>:</strong>
      <span><%= @resource.file_md5_hex %></span>
    </div>
    <div class="small pl-1">
      <strong><%= @resource.class.human_attribute_name(:file_sha2_hex) %>:</strong>
      <span><%= @resource.file_sha2_hex %></span>
    </div>
    <% if @resource.file_pdf? %>
      <div class="border bg-light rounded mt-2">
        <nav class="py-3 border-bottom">
          <ul class="pagination pagination-sm mb-0 text-center">
            <li class="page-item ml-auto mr-1 pdf-previous disabled">
              <a class="page-attachment" href="#">
                <%= Attachment.human_attribute_name(:previous_page) %>
              </a>
            </li>
            <li class="page-item mr-auto ml-1 pdf-next disabled">
              <a class="page-attachment" href="#">
                <%= Attachment.human_attribute_name(:next_page) %>
              </a>
            </li>
          </ul>
        </nav>
        <canvas class="pdf-container bg-white"
                data-pdf-url="<%= download_attachment_path(@resource) %>">
        </canvas>
      </div>
    <% elsif @resource.file_image? %>
      <div class="border bg-light rounded mt-2">
        <img class="mx-auto d-block"
             style="max-width: 100%"
             alt="<%= @resource.label %>"
             src="<%= download_attachment_path(@resource) %>">
      </div>
    <% elsif @resource.file_video? %>
    <div class="border bg-light lazyload-video text-center rounded mt-2"
         style="max-height: 200px">
      <div class="mx-auto bg-dark
                  lazyload-video-placeholder"
           style="width: 350px; height: 200px; padding-top: 75px">
        <div class="text-center loading position-absolute" \
             style="display: none; padding-left: 157.5px; padding-top: 7.5px">
          <div class="spinner-border text-white" role="status"
               style="width: 35px; height: 35px">
            <span class="sr-only"><%= t("observatorio.loading") %></span>
          </div>
        </div>
        <%= play class: "svg svg-white rounded-circle bg-danger mx-auto py-3 pl-1",
                 width: "50px", height: "50px" %>
      </div>
      <video class="mx-auto bg-white"
             style="max-height: 200px; display: none"
             controls="controls"
             data-mime="<%= @resource.file_mime_type %>" >
        <source data-src="<%= download_attachment_path(@resource) %>" src="">
      </video>
    </div>
    <% elsif @resource.file_audio? %>
      <div class="mt-2">
        <audio class="w-100" controls>
          <source src="<%= download_attachment_path(@resource) %>">
        </audio>
      </div>
    <% elsif @resource.file_text? %>
      <div class="border bg-light rounded mt-2 p-2 text-monospace">
        <%= @resource.file_decrypted.read.gsub("\n", "</br>").html_safe %>
      </div>
    <% end %>
  </div>

  <!-- History -->
  <%=
    render partial: "subsection", locals: {
      subsection_title: @resource.class.human_attribute_name(:history),
      subsection_id: "history-subsection",
      subsection_class: "history",
      resource: @resource,
      refresh_element_url: history_attachment_path(@resource)
    }
  %>
</div>
