<div class="modal-body">
  <%= t("observatorio.models.education_course.updated").html_safe %>
</div>
<div class="modal-footer">
  <%= link_to t("observatorio.dialog.ok"), education_course_path(@resource),
        class: "btn btn-primary btn-sm"%>
</div>
