<div class="modal-body">
  <%= t("observatorio.models.event_role.updated").html_safe %>
</div>
<div class="modal-footer">
  <%= link_to t("observatorio.dialog.ok"), event_role_path(@resource),
        class: "btn btn-primary btn-sm"%>
</div>
