<% item = version.item_state %>
<div class="media item">
  <div class="media-body mb-0 mt-0 mb-2">
    <div class="d-inline-block main">
      <strong class="mb-md-0">
        <%= display_time(version.created_at) %>
      </strong>
      &middot;
      <%= display_user(version.user) %>
    </div>
    <span class="ml-2 d-block">
      <%= t("paper_trail.event.#{version.event}").html_safe %>
      <a class="btn btn-info small btn-sm py-0 px-1 ml-1"
         data-toggle="collapse"
         href="#details<%= version.id %>"
         role="button"
         aria-expanded="false"
         aria-controls="details">
         <%= t("paper_trail.details") %>
      </a>
    </span>
    <div class="collapse small" id="details<%= version.id %>">
      <ul class="mt-1 mb-0 pl-4" style="list-style-type: none">
        <% if version.converted_changeset.key?("description") %>
          <li>
            <strong><%= Event.human_attribute_name(:description) %>:</strong>
            <%= Differ.diff_by_word(
                  *version.converted_changeset["description"].reverse
                ).format_as(:html).html_safe %>
          </li>
        <% end %>
        <% if version.converted_changeset.key?("started_at") %>
          <li>
            <strong><%= Event.human_attribute_name(:started_at) %>:</strong>
            <%= Differ.diff_by_line(
                  *version.converted_changeset["started_at"].reverse.map { |d|
                    display_time(d, time_zone: item.time_zone)
                  }
                ).format_as(:html).html_safe %>
          </li>
        <% end %>
        <% if version.converted_changeset.key?("finished_at") %>
          <li>
            <strong><%= Event.human_attribute_name(:finished_at) %>:</strong>
            <% time_zone = version.converted_changeset.key?("time_zone") ?
              version.converted_changeset["time_zone"].last : item.time_zone %>
            <%= Differ.diff_by_line(
                  *version.converted_changeset["finished_at"].reverse.map { |d|
                    display_time(d, time_zone: item.time_zone)
                  }
                ).format_as(:html).html_safe %>
          </li>
        <% end %>
        <% if version.converted_changeset.key?("time_zone") %>
          <li>
            <strong><%= Event.human_attribute_name(:time_zone) %>:</strong>
            <%= Differ.diff_by_line(
                  *version.converted_changeset["time_zone"].reverse
                ).format_as(:html).html_safe %>
          </li>
        <% end %>
        <% if version.converted_changeset.key?("approximate_dates") %>
          <li>
            <strong><%= Event.human_attribute_name(:approximate_dates) %>:</strong>
            <%= Differ.diff_by_line(
                  *version.converted_changeset["approximate_dates"].reverse.map { |b| display_boolean(b) }
                ).format_as(:html).html_safe %>
          </li>
        <% end %>
        <% if version.converted_changeset.key?("location_id") %>
          <li>
            <strong><%= Event.human_attribute_name(:location) %>:</strong>
            <%= Differ.diff_by_line(
                  *version.converted_changeset["time_zone"].reverse.map { |l| display_name(l) }
                ).format_as(:html).html_safe %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
