<%= form_for [:description, @resource] do |f| %>
  <div class="modal-body textarea-body">
    <%= f.text_area :description, :"data-autofocus" => true %>
  </div>
  <div class="modal-footer">
    <%= submit_tag t("observatorio.save"), class: "btn btn-primary btn-sm" %>
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
      <%= t("observatorio.cancel") %>
    </button>
  </div>
<% end %>
