<% person_tag = version.item_state.tag %>
<div class="media item">
  <div class="media-body mb-0 mt-0 mb-2">
    <div class="d-inline-block main">
      <strong class="mb-md-0">
        <%= display_time(version.created_at) %>
      </strong>
      &middot;
      <%= display_user(version.user) %>
    </div>
    <span class="ml-2 d-block">
      <%= t("paper_trail.tagged_person.#{version.event}",
            tag: tag.strong(display_resource(person_tag))).html_safe %>
    </span>
  </div>
</div>
