<%= form_for @resource, html: { :"data-init" => "configureLinkModal" } do |f| %>
  <%= f.hidden_field :linkable_type %>
  <%= f.hidden_field :linkable_id %>
  <div class="modal-body">
    <div class="form-group row label-group">
      <% label_error = @resource.errors[:label]&.first %>
      <%= label_tag "link[label]", Link.human_attribute_name(:label), class: "col-3" %>
      <% unless @resource.label.present? %>
        <%= select_tag "link[predefined_label]",
              options_for_select([nil] + predefined_labels_options, nil),
              class: "col-8 form-control form-control-sm", required: true %>
      <% end %>
      <div class="col-8 offset-3 mb-3" style="display: none"></div>
      <%= text_field_tag "link[label]", @resource.label,
            :"data-autofocus" => true, required: true, autocomplete: "off",
            style: ("display: none".html_safe unless @resource.label.present?),
            class: "form-control form-control-sm col-8 " +
                   "#{"offset-3" unless @resource.label.present?} " +
                   "#{"is-invalid" if label_error }" %>
      <% if label_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= label_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% if @resource.new_record? %>
      <% url_error = @resource.errors[:url]&.first %>
      <div class="form-group row url-group mb-0">
        <%= label_tag "link[url]", Link.human_attribute_name(:url), class: "col-3" %>
        <% if !url_error &&
              (@resource.content.present? ||
               @resource.content_forbidden?) %>
          <%= f.hidden_field :url %>
          <div class="col-8 text-truncate px-0">
            <strong class="has-tooltip" title="<%= @resource.url %>">
              <%= link_to @resource.url, @resource.url, target: "_blank" %>
            </strong>
          </div>
        <% else %>
          <%= url_field_tag "link[url]", @resource.url,
                disabled: @resource.content.present? && !url_error,
                autofocus: true, required: true, autocomplete: "off",
                class: "form-control form-control-sm col-8 #{"is-invalid" if url_error }" %>
          <% if url_error %>
            <div class="invalid-feedback">
              <div class="row">
                <div class="col-8 offset-3">
                  <%= url_error %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <% unless url_error %>
        <%= f.hidden_field :content_forbidden %>
        <%= f.hidden_field :content_extension %>
        <%= f.hidden_field :visited_at %>
        <%= hidden_field_tag "link[signature]", @resource.generate_signature %>
        <% if @resource.content_forbidden? %>
          <div class="border rounded border-secondary p-2">
            <strong>
              <%= @resource.class.human_attribute_name(:content_forbidden) %>
            </strong>
          </div>
        <% elsif @resource.content.present? %>
          <%= hidden_field_tag "link[content_unencrypted_base64]",
                @resource.content_decrypted_base64 %>
          <div class="form-group row">
            <div class="col-8 offset-3">
              <%= check_box_tag "link[ignore_content]",
                    "1", @resource.ignore_content, class: "form-check-input" %>
              <%= label_tag "link[ignore_content]",
                    @resource.class.human_attribute_name(:ignore_content),
                    class: "form-check-label" %>
            </div>
          </div>
          <% if @resource.content_pdf? %>
            <div class="border rounded bg-white link-content">
              <div class="bg-light border-bottom text-center py-1">
                <a class="btn btn-outline-primary btn-sm small pdf-previous disabled"
                   style="width: 86px"
                   href="#">
                  <%= arrow_left(class: "svg svg-primary d-inline-block mr-1") %><%= Link.human_attribute_name(:previous) %>
                </a>
                <a class="btn btn-outline-primary btn-sm small pdf-next disabled" href="#">
                  <%= Link.human_attribute_name(:next) %><%= arrow_right(class: "svg svg-primary d-inline-block ml-1") %>
                </a>
              </div>
              <canvas class="pdf-container">
              </canvas>
            </div>
          <% elsif @resource.content_image? %>
            <img class="mx-auto d-block content-image link-content"
                 src=""
                 style="max-width: 100%"
                 data-mime="<%= @resource.content_mime_type %>" />
          <% elsif @resource.content_video? %>
            <video class="mx-auto d-block content-video link-content"
                   style="max-width: 100%"
                   controls
                   data-mime="<%= @resource.content_mime_type %>">
              <source src="">
            </video>
          <% elsif @resource.content_audio? %>
            <audio class="mx-auto w-100 d-block content-audio link-content"
                   controls
                   data-mime="<%= @resource.content_mime_type %>" >
              <source src="">
            </audio>
          <% else %>
            <div class="border rounded border-secondary p-2 link-content">
              <div class="form-group row mb-0">
                <%= label_tag "link[content_extension]",
                      Link.human_attribute_name(:content_extension),
                      class: "col-3 mb-0" %>
                <strong class="col-8">
                  <%= @resource.content_extension %>
                </strong>
              </div>
              <div class="form-group row mb-0">
                <%= label_tag "link[content_size]",
                      Link.human_attribute_name(:content_size),
                      class: "col-3 mb-0" %>
                <strong class="col-8">
                  <%= number_to_human_size(@resource.content_size) %>
                </strong>
              </div>
              <div class="form-group row mb-0">
                <%= label_tag "link[content_md5_hex]",
                      Link.human_attribute_name(:content_md5_hex),
                      class: "col-3 mb-0" %>
                <strong class="col-8">
                  <%= @resource.content_md5_hex %>
                </strong>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <div class="form-group">
        <%= label_tag "link[description]",
              Link.human_attribute_name(:description), class: "d-block" %>
        <%= f.text_area :description, style: "height: 275px", class: "small" %>
      </div>
    <% end %>
  </div>
  <div class="modal-footer mt-2">
    <%= submit_tag @resource.new_record? && (@resource.content.present? || @resource.content_forbidden?) ?
          t("observatorio.dialog.confirm") : t("observatorio.dialog.save"),
          class: "btn btn-primary btn-sm" %>
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
      <%= t("observatorio.cancel") %>
    </button>
  </div>
<% end %>
