<% item = version.item_state(belongs_to: true) %>
<% owner = item.owner %>
<% organization = version.item_state.organization %>
<% event = version.event %>
<div class="media item">
  <div class="media-body mb-0 mt-0 mb-2">
    <div class="d-inline-block main">
      <strong class="mb-md-0">
        <%= display_time(version.created_at) %>
      </strong>
      &middot;
      <%= display_user(version.user) %>
    </div>
    <span class="ml-2 d-block">
      <% if @resource == owner %>
        <%= t("paper_trail.organization_owner.owner.#{event}",
              organization: tag.strong(display_resource(organization))).html_safe %>
      <% else %>
        <%= t("paper_trail.organization_owner.organization.#{event}",
              owner: tag.strong(display_resource(owner))).html_safe %>
      <% end %>
      <% if event != "destroy" %>
        <a class="btn btn-info small btn-sm py-0 px-1 ml-1"
           data-toggle="collapse"
           href="#details<%= version.id %>"
           role="button"
           aria-expanded="false"
           aria-controls="details">
          <%= t("paper_trail.details") %>
        </a>
      <% end %>
    </span>
    <% if event != "destroy" %>
      <div class="collapse small" id="details<%= version.id %>">
        <ul class="mt-1 mb-0 pl-4" style="list-style-type: none">
          <% if version.converted_changeset.key?("portion") %>
            <li>
              <strong><%= OrganizationOwner.human_attribute_name(:portion) %>:</strong>
              <%= Differ.diff_by_word(
                    *version.converted_changeset["portion"].reverse.map { |p| display_percentage(p) }
                  ).format_as(:html).html_safe %> %
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
