<div class="modal-body owner-only">
  <%= t("observatorio.models.organization_owner.owner.created",
        organization: tag.strong(display_name(@resource.organization))).html_safe %>
</div>
<div class="modal-body organization-only">
  <%= t("observatorio.models.organization_owner.organization.created",
        owner: tag.strong(display_name(@resource.owner))).html_safe %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">
    <%= t("observatorio.dialog.ok") %>
  </button>
</div>

<%= hidden_field_tag :refresh_element, refresh_element %>
<%= hidden_field_tag :refresh_element,
      "#organization-#{@resource.organization_id} #owners-subsection" %>
<%= hidden_field_tag :refresh_element,
      "#organization-#{@resource.owner_id} #organizations-owner-subsection" %>
<%= hidden_field_tag :refresh_element, "#history-subsection" %>
