<%= form_for @resource, html: { :"data-init" => "initOrganizationOwnerForm" } do |f| %>
  <div class="modal-body">
    <div class="form-group row owner-only">
      <% organization_id_error = @resource.errors[:organization_id]&.first  %>
      <%= label_tag "organization_owner[organization_id]",
            @resource.class.human_attribute_name(:organization), class: "col-3" %>
      <%= select_tag "organization_owner[organization_id]",
            options_for_select([nil] + organizations_options, @resource.organization_id),
            class: "col-8 form-control form-control-sm #{"is-invalid" if organization_id_error}",
            required: true, disabled: @resource.persisted? %>
      <% if organization_id_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= organization_id_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group row organization-only">
      <%= hidden_field_tag "organization_owner[owner_type]",
            @resource.owner_type, required: true %>
      <% owner_id_error = @resource.errors[:owner_id]&.first  %>
      <%= label_tag "organization_owner[owner_id]",
            @resource.class.human_attribute_name(:owner), class: "col-3" %>
      <%= select_tag "organization_owner[owner_id]",
            options_for_select([nil] + organization_owners_options, @resource.owner_id),
            class: "col-8 form-control form-control-sm #{"is-invalid" if owner_id_error}",
            required: true, disabled: @resource.persisted? %>
      <% if owner_id_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= owner_id_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group row">
      <% portion_error = @resource.errors[:portion]&.first  %>
      <%= label_tag "organization_owner[portion_percentage]",
            @resource.class.human_attribute_name(:portion_percentage), class: "col-3" %>
      <%= number_field_tag "organization_owner[portion_percentage]",
            display_percentage(@resource.portion),
            autocomplete: "off", min: 1, max: 100,
            class: "form-control form-control-sm col-8 #{"is-invalid" if portion_error }" %>
      <% if portion_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= portion_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group date-boundaries-group row">
      <% from_date_error = @resource.errors[:from_date]&.first %>
      <%= label_tag "organization_owner[from_date]",
            @resource.class.human_attribute_name(:from_date), class: "col-3" %>
      <%= date_field_tag "organization_owner[from_date]", @resource.from_date,
            class: "form-control form-control-sm col-8 #{"is-invalid" if from_date_error}" %>
      <% if from_date_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= from_date_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group date-boundaries-group row">
      <% to_date_error = @resource.errors[:to_date]&.first %>
      <%= label_tag "organization_owner[to_date]",
            @resource.class.human_attribute_name(:to_date), class: "col-3" %>
      <%= date_field_tag "organization_owner[to_date]", @resource.to_date,
            class: "form-control form-control-sm col-8 #{"is-invalid" if to_date_error}" %>
      <% if to_date_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= to_date_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <%= label_tag "organizations_owner[approximate_dates]",
              @resource.class.human_attribute_name(:approximate_dates), class: "col-3" %>
        <div class="form-control-sm form-control-check col-8">
          <div class="form-check">
            <input class="form-check-input" type="radio"
                   name='organization_owner[approximate_dates]'
                   required id="approximateDatesYes"
                   value="1"
                   <%= "checked" if @resource.approximate_dates %>>
            <label class="form-check-label" for="approximateDatesYes">
              <%= t("observatorio.true") %>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio"
                   name='organization_owner[approximate_dates]'
                   required id="approximateDatesNo"
                   value="0"
                   <%= "checked" unless @resource.approximate_dates %>>
            <label class="form-check-label" for="approximateDatesNo">
              <%= t("observatorio.false") %>
            </label>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <%= submit_tag t("observatorio.save"), class: "btn btn-primary btn-sm" %>
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
      <%= t("observatorio.cancel") %>
    </button>
  </div>
<% end %>
