<div class="modal-body">
  <%= t("observatorio.models.tag.destroyed",
        tag: tag.strong(display_name(@resource))).html_safe %>
</div>
<div class="modal-footer">
  <%= link_to t("observatorio.dialog.ok"), tags_path(tag: { type: @resource.type }),
        class: "btn btn-primary btn-sm"%>
</div>
