<%= form_for @resource, url: @resource.new_record? ? tags_path : tag_path(@resource) do |f| %>
  <%= hidden_field_tag "tag[type]", @resource.type %>
  <div class="modal-body">
    <div class="form-group row">
      <% name_error = @resource.errors[:name]&.first  %>
      <%= label_tag "tag[name]", @resource.class.human_attribute_name(:name), class: "col-3" %>
      <%= text_field_tag "tag[name]", @resource.name,
            :"data-autofocus" => true, required: true, autocomplete: "off",
            class: "form-control form-control-sm col-8 #{"is-invalid" if name_error }" %>
      <% if name_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= name_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="modal-footer">
    <%= submit_tag t("observatorio.save"), class: "btn btn-primary btn-sm" %>
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
      <%= t("observatorio.cancel") %>
    </button>
  </div>
<% end %>
