<% title t("devise.sessions.new.sign_in") %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-devise" }) do |f| %>
  <div class="form-group">
    <%= f.email_field :email, class: "form-control", autofocus: true,
          required: true, placeholder: resource.class.human_attribute_name(:email) %>
  </div>
  <div class="form-group">
    <%= f.password_field :password, class: "form-control", autocomplete: "off",
          required: true, placeholder: resource.class.human_attribute_name(:password) %>
  </div>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me">
      <%= resource.class.human_attribute_name(:remember_me) %>
    </label>
  </div>
  <div class="control-group">
    <%= f.submit t("devise.sessions.new.sign_in"), class: "btn btn-lg btn-primary btn-block" %>
  </div>
  <%= render "devise/shared/links" %>
<% end %>
