<div class="modal-body member-only">
  <%= t("observatorio.models.organization_member.member.destroyed",
        organization: tag.strong(display_name(@resource.organization))).html_safe %>
</div>
<div class="modal-body organization-only">
  <%= t("observatorio.models.organization_member.organization.destroyed",
        member: tag.strong(display_name(@resource.member))).html_safe %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">
    <%= t("observatorio.dialog.ok") %>
  </button>
</div>

<%= hidden_field_tag :refresh_element, "#organization_member-#{@resource.id}" %>
<%= hidden_field_tag :refresh_element, "#history-subsection" %>
