<div class="modal-body">
  <% if @resource.source.present? %>
    <div class="small pl-1">
      <strong><%= @resource.class.human_attribute_name(:source) %>:</strong>
      <span><%= @resource.source %></span>
    </div>
  <% end %>
  <% if @resource.author.present? %>
    <div class="small pl-1">
      <strong><%= @resource.class.human_attribute_name(:author) %>:</strong>
      <span><%= @resource.author %></span>
    </div>
  <% end %>
  <% if @resource.license.present? %>
    <div class="small pl-1">
      <strong><%= @resource.class.human_attribute_name(:license) %>:</strong>
      <span><%= @resource.license %></span>
    </div>
  <% end %>
  <div class="border bg-light rounded my-3">
    <img class="mx-auto d-block" style="max-width: 100%"
         src="<%= @resource.file.url %>">
  </div>
</div>
