<div id="organization-department-<%= organization_department.id %>">
  <div class="refreshable"
       data-refresh="<%= organization_department_path(organization_department) %>">
    <div class="text-center loading position-absolute pl-5" \
         style="display: none">
      <div class="spinner-border" role="status">
        <span class="sr-only"><%= t("observatorio.loading") %></span>
      </div>
    </div>
    <div class="content">
      <%=
        render partial: "modal_form", locals: {
          url: new_organization_department_path(
            organization_department: {
              parent_id: organization_department.id
            }
          ),
          modal_id: "new-child-#{organization_department.id}",
          modal_title: OrganizationDepartment.human_attribute_name(:new_child)
        }
      %>
      <%=
        render partial: "modal_form", locals: {
          url: edit_organization_department_path(organization_department),
          modal_id: "edit-organization-department-#{organization_department.id}",
          modal_title: OrganizationDepartment.human_attribute_name(:edit)
        }
      %>
      <%=
        render partial: "confirm_delete", locals: {
          record: organization_department,
          confirm_message: OrganizationDepartment.human_attribute_name(
            :destroy_confirm,
            department: tag.strong(display_name(organization_department))
          ).html_safe,
          modal_id: "destroy-organization-department-#{organization_department.id}",
          modal_title: OrganizationDepartment.human_attribute_name(:destroy)
        }
      %>
      <%=
        render partial: "modal_form", locals: {
          url: new_organization_member_path(
            organization_member: {
              organization_id: organization_department.organization_id,
              department_id: organization_department.id
            }
          ),
          modal_id: "add-organization-member-#{organization_department.id}",
          modal_title: Organization.human_attribute_name(:new_member)
        }
      %>
      <% if organization_department.location_id? %>
        <%=
          render partial: "modal_map", locals: {
            modal_id: "location-#{organization_department.id}-modal",
            data_location_path: location_path(organization_department.location_id)
          }
        %>
      <% end %>
      <div class="media item">
        <div class="media-body mb-0 pb-2">
          <div class="d-inline-block">
            <div class="d-none d-md-inline-block float-left">
              <a id="<%= SecureRandom.uuid %>"
                 href="#collapseable-<%= organization_department.id %>"
                 class="action action-collapse mr-1 visible
                        <%= "shown" unless organization_department.parent_id? %>">
                <%= image_tag image_path("open-iconic/chevron-right.svg"), class: "collapse-show" %>
                <%= image_tag image_path("open-iconic/chevron-bottom.svg"), class: "collapse-hide" %>
              </a>
            </div>
            <span class="float-left mr-2">
              <strong class="mb-2 mb-md-0">
                <%= display_name(organization_department) %>
              </strong>
              <span class="small">
                <% if organization_department.location_id? %>
                  <%= link_to display_name(organization_department.location),
                               "#location-#{organization_department.id}-modal",
                               :"data-toggle" => "modal" %>
                <% end %>
              </span>
            </span>
            <div class="d-none d-md-inline-block">
              <% if can? :update, organization_department %>
                <a href="#edit-organization-department-<%= organization_department.id %>"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= OrganizationDepartment.human_attribute_name(:edit) %>">
                  <%= image_tag image_path("open-iconic/pencil.svg") %>
                </a>
              <% end %>
              <% if can? :delete, organization_department %>
                <a href="#destroy-organization-department-<%= organization_department.id %>"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= OrganizationDepartment.human_attribute_name(:destroy) %>">
                  <%= image_tag image_path("open-iconic/x.svg") %>
                </a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div id="collapseable-<%= organization_department.id %>"
           class="collapse <%= "show" unless organization_department.parent_id? %>">
        <div id="members-<%= organization_department.id %>" class="pl-3">
          <div class="mb-3 small item">
            <strong class="mr-1">
              <%= OrganizationDepartment.human_attribute_name(:members) %>
            </strong>
            <div class="d-none d-md-inline">
              <% if can? :update, organization_department %>
                <a href="#add-organization-member-<%= organization_department.id %>"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= Organization.human_attribute_name(:new_member) %>">
                  <%= image_tag image_path("open-iconic/plus.svg") %>
                </a>
              <% end %>
            </div>
          </div>
          <div class="refreshable"
               data-refresh="<%=
                 organization_members_path(
                   organization_member: {
                     department_id: organization_department.id
                   },
                   origin: origin_params
                 )
               %>">
            <div class="pl-4 loading" style="display: none">
              <div class="spinner-border" role="status">
                <span class="sr-only"><%= t("observatorio.loading") %></span>
              </div>
            </div>
            <div class="content">
              <% organization_department.members.each do |organization_member| %>
                <%= render partial: "organization_members/resource",
                           locals: { organization_member: organization_member } %>
              <% end %>
            </div>
          </div>
        </div>
        <div id="children-<%= organization_department.id %>" class="pl-3">
          <div class="mb-2 small item">
            <strong class="mr-1">
              <%= OrganizationDepartment.human_attribute_name(:children) %>
            </strong>
            <div class="d-none d-md-inline">
              <% if can? :update, organization_department %>
              <a href="#new-child-<%= organization_department.id %>"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= OrganizationDepartment.human_attribute_name(:new_child) %>">
                  <%= image_tag image_path("open-iconic/plus.svg") %>
                </a>
              <% end %>
            </div>
          </div>
          <div class="refreshable"
               data-refresh="<%=
                 organization_departments_path(
                   organization_department: {
                     parent_id: organization_department.id,
                     organization_id: organization_department.organization_id
                   },
                   origin: origin_params
                 )
               %>">
            <div class="pl-4 loading" style="display: none">
              <div class="spinner-border" role="status">
                <span class="sr-only"><%= t("observatorio.loading") %></span>
              </div>
            </div>
            <div class="content">
              <% organization_department.children.each do |child| %>
                <%= render partial: "organization_departments/resource",
                           locals: { organization_department: child } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
