<%= form_for @resource do |f| %>
  <%= f.hidden_field :parent_id %>
  <%= f.hidden_field :organization_id %>
  <div class="modal-body">
    <div class="form-group row">
      <% name_error = @resource.errors[:name]&.first  %>
      <%= label_tag "organization_department[name]",
            @resource.class.human_attribute_name(:name), class: "col-3" %>
      <%= text_field_tag "organization_department[name]", @resource.name,
            autocomplete: "off", required: true, :"data-autofocus" => true,
            class: "form-control form-control-sm col-8 #{"is-invalid" if name_error}" %>
      <% if name_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= name_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="border-bottom pb-2 mb-2 location-title">
      <%= @resource.class.human_attribute_name(:location) %>
    </div>
    <div class="form-group location-group small">
      <%= f.hidden_field :location_id,
            :"data-geocoding-placeholder" => t("observatorio.search.placeholder"),
            :"data-locations-path" => reverse_geocode_locations_path %>
      <% if @resource.location %>
        <div class="form-check mb-1">
          <%= radio_button_tag "location_radio", @resource.location_id, true,
                id: "organizationMemberLocation", required: true, class: "form-check-input" %>
          <label class="form-check-label" for="organizationMemberLocation">
            <%= truncated_address(@resource.location) %>
          </label>
        </div>
      <% end %>
      <div class="form-check mb-1">
        <%= radio_button_tag "location_radio", nil, false,
              id: "searchLocation", required: true,
              class: "form-check-input location-search" %>
        <label class="form-check-label" for="searchLocation">
          <%= @resource.class.human_attribute_name(:location_search) %>
        </label>
      </div>
      <div class="map-container mt-2" id='<%= SecureRandom.uuid %>'>
      </div>
      <div class="form-check mb-1">
        <%= radio_button_tag "location_radio", nil, @resource.location_id.nil?,
              class: "form-check-input", required: true, id: "nullLocation" %>
        <label class="form-check-label" for="nullLocation">
          <%= @resource.class.human_attribute_name(:location_null) %>
        </label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= submit_tag t("observatorio.save"), class: "btn btn-primary btn-sm" %>
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
      <%= t("observatorio.cancel") %>
    </button>
  </div>
<% end %>
