<%= form_for @resource, html: { :"data-init" => "initOrganizationModal" } do |f| %>
  <div class="modal-body">
    <div class="form-group row">
      <% name_error = @resource.errors[:name]&.first  %>
      <%= label_tag "organization[name]",
            @resource.class.human_attribute_name(:name), class: "col-3" %>
      <%= text_field_tag "organization[name]", @resource.name,
            :"data-autofocus" => true, required: true, autocomplete: "off",
            class: "form-control form-control-sm col-8 #{"is-invalid" if name_error }" %>
      <% if name_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= name_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group row">
      <% cnpj_error = @resource.errors[:cnpj]&.first %>
      <%= label_tag "organization[cnpj]",
            @resource.class.human_attribute_name(:cnpj), class: "col-3" %>
      <%= text_field_tag "organization[cnpj]", @resource.cnpj, autocomplete: "off",
            class: "form-control form-control-sm col-8 #{"is-invalid" if cnpj_error }" %>
      <% if cnpj_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= cnpj_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <%= label_tag "organization[school]",
              @resource.class.human_attribute_name(:school), class: "col-3" %>
        <div class="form-control-sm form-control-check col-8">
          <div class="form-check">
            <input class="form-check-input" type="radio"
                   name="organization[school]" required
                   id="schoolYes" value="1"
                   <%= "checked" if @resource.school? %>>
            <label class="form-check-label" for="schoolYes">
              <%= t("observatorio.true") %>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio"
                   name="organization[school]" required
                   id="schoolNo" value="0"
                   <%= "checked" unless @resource.school? %>>
            <label class="form-check-label" for="schoolNo">
              <%= t("observatorio.false") %>
            </label>
          </div>
        </div>
      </div>
      <% school_error = @resource.errors[:school]&.first  %>
      <% if school_error %>
        <input type="hidden" class="form-control is-invalid" />
        <div class="invalid-feedback">
          <div class="row">
            <%= school_error %>
          </div>
        </div>
      <% end %>
    </fieldset>
    <div class="form-group date-boundaries-group row">
      <% date_of_foundation_error = @resource.errors[:date_of_foundation]&.first %>
      <%= label_tag "organization[date_of_foundation]",
            @resource.class.human_attribute_name(:date_of_foundation), class: "col-3" %>
      <%= date_field_tag "organization[date_of_foundation]",@resource.date_of_foundation,
            class: "form-control form-control-sm col-8 #{"is-invalid" if date_of_foundation_error}" %>
      <% if date_of_foundation_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= date_of_foundation_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group date-boundaries-group row">
      <% date_of_extinction_error = @resource.errors[:date_of_extinction]&.first %>
      <%= label_tag "organization[date_of_extinction]",
            @resource.class.human_attribute_name(:date_of_extinction), class: "col-3" %>
      <%= date_field_tag "organization[date_of_extinction]", @resource.date_of_extinction,
            class: "form-control form-control-sm col-8 #{"is-invalid" if date_of_extinction_error}" %>
      <% if date_of_extinction_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= date_of_extinction_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <%= label_tag "organization[approximate_dates]",
              @resource.class.human_attribute_name(:approximate_dates), class: "col-3" %>
        <div class="form-control-sm form-control-check col-8">
          <div class="form-check">
            <input class="form-check-input" type="radio"
                   name="organization[approximate_dates]" required
                   id="approximateDatesYes" value="1"
                   <%= "checked" if @resource.approximate_dates %>>
            <label class="form-check-label" for="approximateDatesYes">
              <%= t("observatorio.true") %>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio"
                   name="organization[approximate_dates]" required
                   id="approximateDatesNo" value="0"
                   <%= "checked" unless @resource.approximate_dates %>>
            <label class="form-check-label" for="approximateDatesNo">
              <%= t("observatorio.false") %>
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="border-bottom pb-2 mb-2">
      <%= @resource.class.human_attribute_name(:headquarters) %>
    </div>
    <div class="form-group location-group small">
      <%= f.hidden_field :headquarters_id,
            :"data-geocoding-placeholder" => t("observatorio.search.placeholder"),
            :"data-locations-path" => reverse_geocode_locations_path %>
      <% if @resource.headquarters %>
        <div class="form-check mb-1">
          <%= radio_button_tag "headquarters_radio", @resource.headquarters_id, true,
                id: "organizationHeadquartersLocation", required: true, class: "form-check-input" %>
          <label class="form-check-label" for="organizationHeadquartersLocation">
            <%= truncated_address(@resource.headquarters) %>
          </label>
        </div>
      <% end %>
      <div class="form-check mb-1">
        <%= radio_button_tag "headquarters_radio", nil, false,
              id: "searchLocation", required: true,
              class: "form-check-input location-search" %>
        <label class="form-check-label" for="searchLocation">
          <%= @resource.class.human_attribute_name(:location_search) %>
        </label>
      </div>
      <div class="map-container mt-2" id='<%= SecureRandom.uuid %>'>
      </div>
      <div class="form-check mb-1">
        <%= radio_button_tag "headquarters_radio", nil, @resource.headquarters_id.nil?,
              class: "form-check-input", required: true, id: "nullHeadquartersLocation" %>
        <label class="form-check-label" for="nullHeadquartersLocation">
          <%= @resource.class.human_attribute_name(:location_null) %>
        </label>
      </div>
    </div>
    <div class="border-bottom pb-2 mb-2">
      <%= @resource.class.human_attribute_name(:tags) %>
    </div>
    <div class="form-group">
      <%= hidden_field_tag "organization[tag_ids][]" %>
      <% checked_class = "btn-info" %>
      <% unchecked_class = "btn-outline-info" %>
      <% if can? :list, OrganizationTag %>
        <% OrganizationTag.all.each do |tag| %>
          <% input_id = "person_tag_ids_#{tag.id}" %>
          <% checked = @resource.tag_ids.include?(tag.id) %>
          <label for="<%= input_id %>"
                 class="checkbox btn <%= checked ? checked_class : unchecked_class %> btn-sm"
                 data-checked-class="<%= checked_class %>"
                 data-unchecked-class="<%= unchecked_class %>">
            <%= check_box_tag "organization[tag_ids][]", tag.id, checked, id: input_id %>
            <%= tag.name %>
          </label>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="modal-footer">
    <%= submit_tag t("observatorio.save"), class: "btn btn-primary btn-sm" %>
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
      <%= t("observatorio.cancel") %>
    </button>
  </div>
<% end %>
