<div class="modal-body student-only">
  <%= t("observatorio.models.education.student.created",
        school: tag.strong(display_name(@resource.school))).html_safe %>
</div>
<div class="modal-body school-only">
  <%= t("observatorio.models.education.school.created",
        student: tag.strong(display_name(@resource.student))).html_safe %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">
    <%= t("observatorio.dialog.ok") %>
  </button>
</div>

<%= hidden_field_tag :refresh_element, refresh_element %>
<%= hidden_field_tag :refresh_element, "#history-subsection" %>
