<% title_id = SecureRandom.uuid %>
<div class="modal fade modal-form" id="<%= modal_id %>" tabindex="-1" role="dialog"
     aria-labelledby="<%= title_id %>" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header py-1">
        <h5 class="modal-title" id="<%= title_id %>">
          <%= modal_title %>
        </h5>
      </div>
      <div class="text-center loading">
        <div class="spinner-border" role="status">
          <span class="sr-only"><%= t("observatorio.loading") %></span>
        </div>
      </div>
      <div class="modal-form-content" data-url="<%= url %>">
      </div>
      <div class="modal-form-error" style="display: none">
        <div class="modal-body">
          <strong class="text-danger">
            <%= t("errors.unknown") %>
          </strong>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">
            <%= t("observatorio.dialog.ok") %>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
