<div id="<%= subsection_id %>"
     class="p-3 my-2 bg-white border-gray border rounded <%= subsection_class %>">
  <div class="d-inline-block subsection">
    <span class="float-left mr-2 mb-1">
      <h5><%= subsection_title %></h5>
    </span>
    <div class="d-none d-md-block">
      <% if can?(:update, resource) && local_assigns[:action_icon].present? %>
        <a href='#<%= new_resource_modal_id %>'
           class='action has-tooltip mx-2'
           data-toggle="modal"
           data-placement="top"
           title="<%= new_resource_title %>">
          <%= action_icon %>
        </a>
      <% end %>
    </div>
  </div>
  <div class="refreshable" data-refresh="<%= refresh_element_url %>">
    <div class="pl-4 loading" style="display: none">
      <div class="spinner-border" role="status">
        <span class="sr-only"><%= t("observatorio.loading") %></span>
      </div>
    </div>
  </div>
</div>
