<div class="refreshable" data-refresh="<%= request.original_fullpath %>">
  <div class="pl-4 loading" style="display: none">
    <div class="spinner-border" role="status">
      <span class="sr-only"><%= t("observatorio.loading") %></span>
    </div>
  </div>
  <div class="content">
    <% @versions.each do |version| %>
      <%= render partial: "#{version.item_type.underscore.pluralize}/history_entry",
                 locals: { version: version } %>
    <% end %>
  </div>
</div>
