<% item = version.item_state(belongs_to: true) %>
<% participant = item.participant %>
<% version_event = version.event %>
<div class="media item">
  <div class="media-body mb-0 mt-0 mb-2">
    <div class="d-inline-block main">
      <strong class="mb-md-0">
        <%= display_time(version.created_at) %>
      </strong>
      &middot;
      <%= display_user(version.user) %>
    </div>
    <span class="ml-2 d-block">
      <span class="event-only">
        <%= t("paper_trail.event_participant.event.#{version_event}",
              participant: tag.strong(display_resource(participant))).html_safe %>
      </span>
      <span class="participant-only">
        <%= t("paper_trail.event_participant.participant.#{version_event}",
              event: tag.strong(display_resource(item.event))).html_safe %>
      </span>
      <% if version_event != "destroy" %>
        <a class="btn btn-info small btn-sm py-0 px-1 ml-1"
           data-toggle="collapse"
           href="#details<%= version.id %>"
           role="button"
           aria-expanded="false"
           aria-controls="details">
          <%= t("paper_trail.details") %>
        </a>
      <% end %>
    </span>
    <% if version_event != "destroy" %>
      <div class="collapse small" id="details<%= version.id %>">
        <ul class="mt-1 mb-0 pl-4" style="list-style-type: none">
          <% if version.converted_changeset.key?("role_id") %>
            <li>
              <strong><%= EventParticipant.human_attribute_name(:role) %>:</strong>
              <%= Differ.diff_by_line(
                    *version.converted_changeset["role_id"].reverse.map { |c| display_resource(c) }
                  ).format_as(:html).html_safe %>
            </li>
          <% end %>
          <% if version.converted_changeset.key?("from_datetime") %>
            <li>
              <strong><%= EventParticipant.human_attribute_name(:from_datetime) %>:</strong>
              <%= Differ.diff_by_line(
                    *version.converted_changeset["from_datetime"].reverse.map { |d|
                      display_time(d, time_zone: item.time_zone)
                    }
                  ).format_as(:html).html_safe %>
            </li>
          <% end %>
          <% if version.converted_changeset.key?("to_datetime") %>
            <li>
              <strong><%= EventParticipant.human_attribute_name(:to_datetime) %>:</strong>
              <% time_zone = version.converted_changeset.key?("time_zone") ?
                version.converted_changeset["time_zone"].last : item.time_zone %>
              <%= Differ.diff_by_line(
                    *version.converted_changeset["to_datetime"].reverse.map { |d|
                      display_time(d, time_zone: item.time_zone)
                    }
                  ).format_as(:html).html_safe %>
            </li>
          <% end %>
          <% if version.converted_changeset.key?("time_zone") %>
            <li>
              <strong><%= EventParticipant.human_attribute_name(:time_zone) %>:</strong>
              <%= Differ.diff_by_line(
                    *version.converted_changeset["time_zone"].reverse
                  ).format_as(:html).html_safe %>
            </li>
          <% end %>
          <% if version.converted_changeset.key?("approximate_dates") %>
            <li>
              <strong><%= EventParticipant.human_attribute_name(:approximate_dates) %>:</strong>
              <%= Differ.diff_by_line(
                    *version.converted_changeset["approximate_dates"].reverse.map { |b| display_boolean(b) }
                  ).format_as(:html).html_safe %>
            </li>
          <% end %>
          <% if version.converted_changeset.key?("location_id") %>
            <li>
              <strong><%= EventParticipant.human_attribute_name(:location) %>:</strong>
              <%= Differ.diff_by_line(
                    *version.converted_changeset["location_id"].reverse.map { |b| display_name(b) }
                  ).format_as(:html).html_safe %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
